 
 body 
    {
      font-family: Arial, sans-serif;
    }
    nav
    {
      background-color: #ff4d4d;
    }
    nav a 
    {
      color: #fff !important;
      font-weight: 600;
    }
    .nav-link::before
    {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    background-color:#fff;
    bottom: 8px;
    transition: all 1s ;
    }
    .nav-link:hover
    {
      color:#ddd;
    }
    .nav-link:hover::before{
      width:60px ;
      
      
    }
    .carousel-item
     {
      height: 90vh;
      background-size: cover;
      background-position: center;
    }
    .slider-text
     {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-weight: bold;
      text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    }
    .brand-text small 
    {
      font-size: 12px;
      display: block;
      margin-top: -5px;
    }

/* Card image  */
.card-img-top
 {
  height: 160px;
  object-fit: cover;
}

.card:hover
 {
  transform:scale(1.05);
  transition: 0.3s;
}

@media (max-width: 576px) 
{
  .card-img-top {
    height: 130px;
  }
}

/* ===== MENU ===== */
.menu-item .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;        
  transition: 0.3s;
}

.menu-item img
 {
  height: 180px;             
  object-fit: cover;
}

.menu-item .card-body 
{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item h5 
{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
/*====GALLERY====*/
.gallery-item 
{
  position: relative;
  cursor: pointer;
  overflow: hidden;         
  border-radius: 15px;
  height: 250px;                 
  transition: transform 0.3s ease;
}

.gallery-item:hover
 {
  transform: scale(1.05);
}

.gallery-img
 {
  width: 100%;
  height: 100%;                 
  object-fit: cover;           
  transition: transform 0.4s ease;
}


.footer 
{
  background: #111;
}

.footer-link
 {
  color: #ccc;
  text-decoration: none;
}

.footer-link:hover
{
  color: #ffcc00;
}

.footer-contact
 {
  color: #ddd;
}

.footer-social 
{
  display: inline-flex;
  font-size: 20px;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #ffcc00;
  border-radius: 5px;
  transition: .3s;
}

.footer-social:hover
{
  background: #ffcc00;
  color: #111;
}
